<header id="header" class="bgm-2 clearfix" data-current-skin="blue">
    <ul class="container header-inner">
        <li id="menu-trigger" data-trigger="#sidebar" class="only-show-xs">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>

        <li class="logo">
            <%= link_to root_path, class: '' do %>
                <img src="/img/logo-white.png" alt="팀플 로고" width="140" height="30">
            <% end %>
        </li>

        <li class="main_menu hidden-xs">
            <ul class="top-menu font-capital">
                <!--<%# nav_menu_lists.each do |menu| %>
                    <li class="<%#= 'open' if params[:controller] == menu[:controller] %>">
                        <%#= link_to menu[:name], menu[:path] %>
                    </li>
                <%# end %>-->
                <!--<li class="open"><a href=""></a></li>-->
                <!--<li class="open"><a href=""></a></li>-->
            </ul>
        </li>

        <li class="pull-right">
            <ul class="top-menu">
                <li id="top-search">
                    <a href=""><i class="tm-icon zmdi zmdi-search"></i></a>
                </li>

                <li class="dropdown hidden-xs" style="padding: 2px 0">
                    <% if user_signed_in? %>
                        <%= link_to '', data: {toggle: 'dropdown'} do %>
                            <ul class="new_nav_profile">
                                <li class="nav_profile2"><div class="bg_img_cover" style="background: url(<%= current_user.img %>)"></div></li>
                                <li class="nav_profile2-name"><%= current_user.nickname %> <i class="zmdi zmdi-caret-down"></i></li>
                            </ul>
                        <% end %>
                        <div class="dropdown-menu dropdown-menu-lg pull-right" style="width: 80px;">
                            <div class="listview">
                                <div class="lv-body" style="min-height: initial;">
                                    <a class="lv-item" href="<%#= mypage_watched_path %>">
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="lv-title" style="text-align: center; text-transform: capitalize">my page</div>
                                            </div>
                                        </div>
                                    </a>
                                    <% if current_user.try(:admin?) %>
                                        <!--<a class="lv-item" href="/admin">-->
                                            <!--<div class="media">-->
                                                <!--<div class="media-body">-->
                                                    <!--<div class="lv-title" style="text-align: center; text-transform: capitalize">admin dashboard</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                    <% end %>
                                    <div class="lv-item">
                                        <div class="media">
                                            <div class="media-body">
                                                <a class="hf-btn btn-default btn-warning" href="/users/sign_out" style="width: 100%; text-align: center; text-transform: capitalize">logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% else %>
                        <%= link_to 'Login', root_path, class: 'btn btn-default', style: 'color: #333333' %>
                    <% end %>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Top Search Content -->
    <div id="top-search-wrap">
        <div class="tsw-inner">
            <input type="text">
            <i id="top-search-close" class="zmdi zmdi-close"></i>
        </div>
    </div>
</header>

<% if user_signed_in? %>
    <%#= render '/layouts/my_fandoms' %>
<% end %>