<p id="notice"><%= notice %></p>

<h1>Marks</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>User</th>
      <th>T start</th>
      <th>T end</th>
      <th>White list</th>
      <th>Title</th>
      <th>Content</th>
      <th>Url</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marks.each do |mark| %>
      <tr>
        <td><%= mark.team %></td>
        <td><%= mark.user %></td>
        <td><%= mark.t_start %></td>
        <td><%= mark.t_end %></td>
        <td><%= mark.white_list %></td>
        <td><%= mark.title %></td>
        <td><%= mark.content %></td>
        <td><%= mark.url %></td>
        <td><%= mark.image %></td>
        <td><%= link_to 'Show', mark %></td>
        <td><%= link_to 'Edit', edit_mark_path(mark) %></td>
        <td><%= link_to 'Destroy', mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mark', new_mark_path %>
