<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @mark.team %>
</p>

<p>
  <strong>User:</strong>
  <%= @mark.user %>
</p>

<p>
  <strong>T start:</strong>
  <%= @mark.t_start %>
</p>

<p>
  <strong>T end:</strong>
  <%= @mark.t_end %>
</p>

<p>
  <strong>White list:</strong>
  <%= @mark.white_list %>
</p>

<p>
  <strong>Title:</strong>
  <%= @mark.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @mark.content %>
</p>

<p>
  <strong>Url:</strong>
  <%= @mark.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @mark.image %>
</p>

<%= link_to 'Edit', edit_mark_path(@mark) %> |
<%= link_to 'Back', marks_path %>
